body {
  background-color: #fff;
}
footer {
  color: #5c8d89;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}

.App {
  margin: 20px auto;
  max-width: 500px;
}
.App-content {
  background-color: #fff;
  border: 1px solid #d8e2dc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #5c8d89;
  padding: 20px 20px;
}

.temp {
  text-align: right;
}
