body {
  background-color: #fff;
}

.App {
  margin: 20px auto;
  max-width: 500px;
}

.App-content {
  padding: 20px 20px;
  text-align: center;
  background-color: #fff;
  align-items: center;
  color: #5c8d89;
  padding: 40px auto;
  border: 1px solid #d8e2dc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
ul {
  margin: 30px auto;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
}
